@import '../../common.css';

.import-screen-top-container{
    height: 500px;
    background-color:#dadada;
}
.import-screen-motto{ 
    width: 100%;
    padding-top: 161px;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #317FED;
}
.import-screen-followup{
    position: relative;
    padding-top: 20px;
    font-size: 16px !important;
    font-weight: normal !important;
    color: #737B7D;
}
.import-screen-buttons{
    padding: 12px 12px 12px 12px;
    top: 50px;
    font-size: 20px;
    font-weight: bold;    
}
.import-screen-body-container{
    margin-top: 50px;
    text-align: center;
}
.import-screen-content{
    margin-top: 20px;
}
.import-screen-select-content{
    margin-top: 30px;
}
.import-screen-file-upload{
    width: 200px;
    border-color: #317FED;
}
