.err-msg-container{
    width: 100%;
    height: 100%;
}
.err-msg{
    width: 100%;
    padding: 20px;
    height: 100px;
    text-align: center;
}
.err-msg_btn-container{
    text-align: center;
}
.try-agn-btn{

}